body {
    margin: 0;
}

h1, h2, p, ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

p {
    margin-top: 0px 10px 0px 10px;
}

.secao {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}

.secao h2 {
    margin-top: 0px;
    font-weight: normal;
}

.secao p span, .fundo-azul h2, .secao h2 {
    font-weight: bold;
}

.secao p {
    padding: 0px 10px;
}

.secao .imovel-assinatura {
    width: 450px;
}

.cabecalho {
    margin: 0;
    background-color: #b0ddfc;
}

.cabecalho img {
    width: 160px;
}

.cabecalho p a {
    font-size: 20px;
    color: #0b639e;
    padding: 0px 10px;
    text-decoration: none;
}

.paragrafo {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin: 10px auto;
    width: 980px;
}

.fundo-azul {
    background-color: #1d80c1;
}

.links li {
    text-decoration: none;
    color: #fff;
    width: 250px;    
        
} 
.fundo-azul ul {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    margin: 0 auto;
    width: 100px;
}

.fundo-preto {
    background-color: #1d1d1d;
    border-radius: 7px;
    padding: 20px 0px 20px 0px;

}

.texto-amarelo {
    color: #ecfa3f;
}

.texto-azul {
    color: #1d80c1;
}

.texto-branco {
    color: #fff;
}